---
layout: base.njk
title: Contact
---

<div class="contact-intro">
    <h1>Let's work together!</h1>

    <p>Got a project you want to collaborate on, or just want to talk about design, dogs, or life? Feel free to reach out with the form below, and I'll get back to you as soon as I can.</p>
</div>

<div class="contact_form">
    <form id="contact_form" action="https://formspree.io/f/mnngnpwk" method="POST">
        <input type="name" name="name" required="" placeholder="Your name" autofocus>
        <input type="email" name="email" required="" placeholder="Your email">
        <textarea name="message" required="" placeholder="Your message"></textarea>
        <input type="submit" name="fields[send]" value="Send message →" data-name="send" class="button">
    </form>
</div>

