---
layout: base.njk
title: Home
---

  <section class="home-top-container">
		<div class="home-left">

			<img class="fox-visual" src="images\Fox_Animated_Tail2.gif"/>

			<div class="home-intro-text">
				<h1>Hi, I'm Tunan! I'm a designer who cares about <strong>social impact</strong> & <strong>human-centered</strong> experiences.</h1>
				
				<div class="home-intro-small">
					<p>I create designs that are thoughtful, functional, and fun — always with real people (and real change) in mind.</p>
					<p><em>Formerly an Art Director at a social change agency, I'm now turning my focus to creating accessible interactive designs.</em></p>
				</div>

				<p><a class="home-button button" href="/projects/">Take a look at my work <span aria-hidden="true">&rarr;</span></a></p>
		
			</div>

			<div class="home-disclaimer">
				<p><span aria-hidden="true">&#128679;</span> <em>This site is currently under construction so please excuse the emptiness!</em></p>
			</div>
		
		</div>

			

		<div class="home-right">


			
		</div>


		
		
  </section>

  