---
layout: base.njk
title: Home
---

  <section class="home-top-container">
		<div class="home-left">


			<div class="home-intro-text">
				<h1>Hi, I'm Tunan! I'm a designer who cares about <strong>social impact</strong> & <strong>human-centered</strong> experiences.</h1>
				
				<div class="home-intro-small">
					<p>I create designs that are thoughtful, functional, and fun — always with real people (and real change) in mind.</p>
					<p><em>Formerly an Art Director at a social change agency, I'm now turning my focus to creating accessible interactive designs.</em></p>
				</div>

				<p><a class="home-button button" href="/projects/">Take a look at my work <span class="arrow" aria-hidden="true">→</span></a></p>
		
			</div>

			<div class="home-disclaimer">
				<p><span aria-hidden="true">&#128679;</span> <em>This site is currently under construction so please excuse the mess!</em></p>
			</div>


			<div class="fox-container">
      			<img class="fox-visual fox-static" src="images/fox/Fox_Static.svg" alt="friendly fox" width="200" height="200"/>
      			<img class="fox-visual fox-animated" src="images/fox/Fox_Frame_01.svg" alt="" aria-hidden="true"/>
      
      			<div class="fox-hitbox" id="hoverTarget" role="button" tabindex="0" aria-label="Pet the fox"></div>
    		</div>
		
		</div>

  </section>


  <script src="/js/fox-animation.js"></script>
	<script src="/js/fox-particles.js"></script>
