---
pagination:
  data: project_tags
  size: 1
  alias: project_tag
permalink: /tags/{{ project_tag | slugify }}/index.html
layout: base.njk
eleventyComputed:
  title: "Tag: {{ project_tag }}"
---

<div class="projects-intro">
  <h1>Projects Tagged: {{ project_tag }}</h1>
</div>



<div class="projects-grid projects-grid--more fade-in">

  {% for project in projects_build %}
    {# Check if the tag appears in the project's tags array #}
    {% if project.tags and project_tag in project.tags %}
      <article class="project-card project-card--small">

        {% if project.image %}
          
            <a href="/projects/{{ project.slug }}/" class="project-card__thumb" tabindex="-1" aria-hidden="true">
              <img src="{{ project.image.url or project.image }}" alt="">
            </a>
        {% endif %}

        
        <div class="project-card__body">
          <h3><a href="/projects/{{ project.slug }}/">{{ project.title }}</a></h3>

          {% if project.tags %}
            <span class="project-tags">
              {% for ptag in project.tags %}
                <a href="/tags/{{ ptag | slugify }}/">{{ ptag }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </span>
          {% endif %}
        </div>

      </article>
    {% endif %}
  {% endfor %}

</div>

<div class="back-to-projects">
  <p><a class="button button-secondary" href="/projects/"><span aria-hidden="true">&larr;</span> Back to all projects</a></p>
</div>