<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tunan Pan - {{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body class="{% if page.url == '/about/' %}about-page{% elif page.url == '/' %}home-page{% elif page.url == '/contact/' %}contact-page{% elif page.url == '/projects/' %}projects-page{% endif %}">

  {% include 'header.njk' %}

  <main>
  {{ content | safe }}
  </main>

  {% include 'footer.njk' %}

  <script src="/js/menu.js"> // for mobile hamburger menu </script>

<script>
  const header = document.querySelector('.site-header');
  let isScrolled = false;
  let ticking = false;
  
  window.addEventListener('scroll', function() {
    if (!ticking) {
      window.requestAnimationFrame(function() {
        const scrollY = window.scrollY;
        
        if (scrollY > 60 && !isScrolled) {
          header.classList.add('scrolled');
          isScrolled = true;
        } else if (scrollY < 40 && isScrolled) {
          header.classList.remove('scrolled');
          isScrolled = false;
        }
        
        ticking = false;
      });
      ticking = true;
    }
  });
</script>


</body>
</html>