<footer>
	<div class="footer-content">
		<div class="footer-cta">
		<img src="/images/logo/Logo-icon_1080x1080.svg" alt="" width="23">
		<p>Thanks for stopping by!<br>Like what you see, or just want to chat?</p>
		<a href="/contact/" class="button">Let's connect! <span aria-hidden="true">→</span></a>
		</div>
		
		<div class="footer-nav">
		<nav aria-label="Footer navigation">
			<ul>
			<li><a href="/" {% if page.url == '/' %}class="current"{% endif %}>Home</a></li>
			<li><a href="/projects/" {% if page.url == '/projects/' %}class="current"{% endif %}>Projects</a></li>
			<li><a href="/about/" {% if page.url == '/about/' %}class="current"{% endif %}>About</a></li>
			<li><a href="/contact/" {% if page.url == '/contact/' %}class="current"{% endif %}>Contact</a></li>
			</ul>
		</nav>
		</div>
	</div>
	
	<div class="footer-bottom">
		<p>© Tunan Pan 2025. If you run into any bugs or accessibility issues, please do let me know!</p>
	</div>
</footer>