---
layout: base.njk
---


<article class="project-post">

    <div class="project-meta">
      {% if project.category %}
        <span class="project-categories">
          <a href="/categories/{{ project.category | slug }}/">{{ project.category }}</a> &emsp;|&emsp;
        </span>
      {% endif %}

      {% if project.tags and project.tags.length %}
        <span class="project-tags">
          {% for tag in project.tags %}
          <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %} 
          {% endfor %}
        </span>
      {% endif %}
    </div>

    <h1>{{ project.title }}</h1>
    
    <!-- Main content -->
    <div class="project-content">
      {% if project.content %}
        {{ project.content | safe }}
      {% else %}
        <p>Content coming soon!</p>
      {% endif %}
    </div>


    
  <!-- Image gallery -->
  {% if project.images and project.images.length %}
  <div class="project-gallery">
    {% for image in project.images %}
      <figure>
        <img src="{{ image.url }}" alt="{{ image.alternativeText or '' }}" >
        {% if image.caption %}
          <figcaption>{{ image.caption }}</figcaption>
        {% endif %}
      </figure>
    {% endfor %}
  </div>
  {% endif %}

    
</article>


{% set index = projects | findProjectIndex(project.slug) %}
{% set prev = projects[index - 1] or projects[projects.length - 1] %}
{% set next = projects[index + 1] or projects[0] %}

  <div class="projects-more"><h4>View more projects</h4>
    <nav>
        {% if prev %}
          <p class="project-prev">← <br/><a href="/projects/{{ prev.slug }}/">{{ prev.title }}</a></p>
        {% endif %}

        {% if next %}
          <p class="project-next">→<br/><a href="/projects/{{ next.slug }}/">{{ next.title }}</a> </p>
        {% endif %}
    </nav>
  </div>