---
layout: base.njk
---


<article class="project-post">


  <div class="project-left">

    <div class="project-meta">
      {% if project.category %}
        <span class="project-categories">
          <a href="/categories/{{ project.category | slug }}/">{{ project.category }}</a> &emsp;|&emsp;
        </span>
      {% endif %}

      {% if project.tags and project.tags.length %}
        <span class="project-tags">
          {% for tag in project.tags %}
          <a href="/tags/{{ tag | slug }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %} 
          {% endfor %}
        </span>
      {% endif %}
    </div>

    <h1>{{ project.title }}</h1>
    
    <!-- Main content -->
    <div class="project-content">
      {% if project.content %}
        {{ project.content | safe }}
      {% else %}
        <p>Content coming soon!</p>
      {% endif %}
    </div>

    <!--
    <a class="button-secondary" href="/projects/">← Back to Projects</a>
    -->

  </div>
    
  <!-- Image gallery -->
  {% if project.images and project.images.length %}
  <div class="project-gallery">
    {% for image in project.images %}
      <figure>
        <img src="../{{ image.url }}" alt="{{ image.alternativeText or '' }}" class="project-page-image">
        {% if image.caption %}
          <figcaption>{{ image.caption }}</figcaption>
        {% endif %}
      </figure>
    {% endfor %}
  </div>
  {% endif %}
    
</article>