/*
Theme Name: Astra Child
Template: astra
*/


/* ----------------------------------
COLORS

orange: #E93600
background light grey: #F6F6F6
footer darker grey: #E9E9E9
purple: #7C1D9E (old #4F1E85)
light purple: #E0BFE7
yellow: #FEC949
pink: #F2126C
-----------------------------------*/

:root {
  --color-orange: #E93600;
  --color-lightgrey: #F6F6F6;
  --color-darkgrey: #E9E9E9;
  --color-purple: #7C1D9E ;
  --color-lightpurple: #E0BFE7;
  --color-yellow: #FEC949;
  --color-pink: #E0005A;
}

*, :after, :before {
    box-sizing: unset!important;
}

/* ----------------------------------
fonts
-----------------------------------*/

/* headings and nav */
@font-face
{
  font-family: Lexend;
  src: url(/wp-content/themes/astra-child/fonts/Lexend/Lexend-Light.ttf);
}

@font-face
{
  font-family: Lexend-Bold;
  src: url(/wp-content/themes/astra-child/fonts/Lexend/Lexend-Bold.ttf);
  font-weight: bold;
}

@font-face
{
  font-family: Lexend-Medium;
  src: url(/wp-content/themes/astra-child/fonts/Lexend/Lexend-Medium.ttf);
}


@font-face
{
  font-family: LexendExa;
  src: url(/wp-content/themes/astra-child/fonts/Lexend/LexendExa-ExtraLight.ttf);
}

@font-face
{
  font-family: LexendExa-Bold;
  src: url(/wp-content/themes/astra-child/fonts/Lexend/LexendExa-Bold.ttf);
}

/* main body text */
@font-face
{
  font-family: InclusiveSans;
  src: url(/wp-content/themes/astra-child/fonts/InclusiveSans/InclusiveSans-Regular.ttf);
}

@font-face
{
  font-family: InclusiveSans;
  src: url(/wp-content/themes/astra-child/fonts/InclusiveSans/InclusiveSans-Bold.ttf);
  font-weight: bold;
}
@font-face
{
  font-family: InclusiveSans;
  src: url(/wp-content/themes/astra-child/fonts/InclusiveSans/InclusiveSans-Italic.ttf);
  font-style: italic;
}
@font-face
{
  font-family: InclusiveSans-Med;
  src: url(/wp-content/themes/astra-child/fonts/InclusiveSans/InclusiveSans-Medium.ttf);
}



/* ----------------------------------
main styles
-----------------------------------*/

body {
  background-color: var(--color-lightgrey);
  font-family: "InclusiveSans", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  color: #000; 
  text-wrap: pretty;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p a {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--color-orange);
}
p a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.wp-element-button  {
  background-color: var(--color-orange);
  text-transform: uppercase;
  font-family: 'Lexend' sans-serif;
  font-weight: bold!important;
  font-size: .8rem;
  letter-spacing: .1rem;
  text-decoration: none!important;
  margin: .5rem 0;
  padding: 5px 20px;
  width: auto!important;
  border-radius: 20px;
}

.wp-element-button:hover {
  background-color: #000;
  color: #fff!important;
}
@media (prefers-reduced-motion: no-preference) {
  .wp-element-button:hover {
    transition: 0.9s;
  }
}

.wp-element-button:focus, a:focus {
  outline: 2px solid #000!important;
  outline-offset: 2px;
} 

.wp-element-button:focus {
  color: #fff;
}

h1 {
  font-family: "Lexend-Medium", sans-serif;
  line-height: 125%;
  margin-bottom: .6em!important;
  font-weight: normal !important;
}
h1 strong {
  font-family: "Lexend-Bold", sans-serif!important;
}

h2 {
  font-family: "Lexend-Medium", sans-serif;
  margin: 1rem 0!important;
  font-weight: normal !important;
}


/* ----------------------------------
header nav
-----------------------------------*/

.site-header {
  position:sticky!important;
  z-index:999!important;
  position:sticky!important;
  top:0!important;
  left:0!important;
  right:0!important;
}
.ast-primary-header-bar {
  background-color: #fff!important;
  height:auto;
  box-sizing: border-box;
}

.site-title {
  font-family: "LexendExa", sans-serif; 
  font-size: 1rem;
  text-transform: uppercase;
}

@media (prefers-reduced-motion: no-preference) {
  .ast-site-identity:hover img { 
    transform: rotate(15deg);
    transition: transform 0.4s ease;
  }
}

.main-navigation {
  line-height: 1.2em;
  margin: 0 ;
  padding: 0;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family: "LexendExa", sans-serif;
  font-weight: bold;
}
.main-navigation a {
  color: #000!important;
}

.ast-mobile-header-content .menu-item {
  padding: 16px;
  text-align: right;
}

.ast-mobile-header-content .menu-item a:hover, .menu-item a:hover, .current_page_item {
  text-decoration: underline;
  text-decoration-thickness: 20%!important;
  text-underline-offset: 8px;
  color: #000!important;
  transition: unset;
}

a.menu-link:hover { 
    color: #000!important;
    font-weight: bold;
}

.menu-item-200 a:hover { text-decoration-color: var(--color-purple);!important; } /* projects */
.menu-item-201 a:hover { text-decoration-color: var(--color-pink);!important; } /* about */
.menu-item-202 a:hover { text-decoration-color: var(--color-yellow);!important; } /* contact */

.menu-item-200.current_page_item { text-decoration-color: var(--color-purple); }
.menu-item-201.current_page_item { text-decoration-color: var(--color-pink); }
.menu-item-202.current_page_item { text-decoration-color: var(--color-yellow); }


.menu-item-200 a::after, .menu-item-201 a::after, .menu-item-202 a::after {
  transform: translateY(1.5px);
  margin: 0 10px; 
}

.menu-item-200 a::after { content: url(/wp-content/themes/astra-child/images/logo/logo-purple.svg); }
.menu-item-201 a::after { content: url(/wp-content/themes/astra-child/images/logo/logo-pink.svg); }
.menu-item-202 a::after { content: url(/wp-content/themes/astra-child/images/logo/logo-yellow.svg); }

@media (prefers-reduced-motion: no-preference) {
  .menu-item-200 a:hover::after, .menu-item-201 a:hover::after, .menu-item-202 a:hover::after { 
    rotate: 15deg; 
  }
}


.ast-header-break-point #masthead .ast-mobile-header-wrap .ast-primary-header-bar, .ast-header-break-point #masthead .ast-mobile-header-wrap .ast-below-header-bar, .ast-header-break-point #masthead .ast-mobile-header-wrap .ast-above-header-bar {
    padding: 0 8%!important;
}




/* ----------------------------------
all pages
-----------------------------------*/

main {
  padding: 50px 0 100px 0!important;
}

.ast-container {
  padding: 0 8%!important;
}




/* ----------------------------------
footer section
-----------------------------------*/

footer {
  background-color: var(--color-darkgrey);
  padding: 50px 8%;
}

.site-primary-footer-wrap {
    max-width: 1240px!important;
      margin: auto!important;
      padding: 0!important;
      width: 100%!important;
}

footer .menu-link a, footer .current_page_item {
  text-decoration: none!important;
}
footer .menu-link:hover {
  font-weight: normal;
  color: var(--color-orange)!important;
}
.ast-builder-grid-row-container-inner {
  padding: 0!important;
  width: 100%!important;
  max-width: 1240px!important;
  margin: auto!important;
}

.site-primary-footer-wrap[data-section="section-primary-footer-builder"] .ast-builder-grid-row, .site-below-footer-wrap[data-section="section-below-footer-builder"] .ast-builder-grid-row {
  padding: 0 20px!important;
}


  @media (max-width: 921px) {
    #astra-footer-menu .menu-item {
        padding: 0 0 0.5em 0;
        text-align: right;
    }
    .footer-widget-area[data-section="section-footer-menu"] .astra-footer-tablet-vertical-menu .menu-item {
      align-items: flex-end;
    }
    .footer-widget-area[data-section="section-footer-menu"] .astra-footer-tablet-vertical-menu {
      justify-content: right;
    }
}


/* ----------------------------------
home page
-----------------------------------*/

main.homepage {
  padding: 0!important;
  margin: 0!important;
}

.home-top-container {
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}


.home-intro-text {
  max-width: 650px;
  font-size: 1.2em;
  line-height: 150%;
}

.home-intro-text h1 {
  font-family: "Lexend", sans-serif!important;
  font-weight: normal!important;
  font-size: 2.5rem;
}

.home-intro-text .wp-element-button {
  margin: 20px 0;
}

.home-disclaimer {
  font-size: 0.7em;
  font-style: italic;
}


/* ----------------------------------
about page - page-id-21
-----------------------------------*/

.page-id-21 main {
padding-bottom: 0!important;
}

.page-id-21 strong {
  color: var(--color-pink);
}
.wp-block-media-text {
  width: 100%;
}



.wp-block-columns.alignfull {
  margin-left: calc(-50vw + 50%) !important;
  margin-right: calc(-50vw + 50%) !important;
}

.ast-plain-container.ast-no-sidebar .entry-content > .alignfull, .ast-page-builder-template .ast-no-sidebar .entry-content > .alignfull {
    width: unset!important;
}
.about-3-column {
  z-index: 100;
}
.about-fox {
  position: relative;
  padding: 150px 10% 70px!important; /*14vw 70px*/
  margin-top: -70px!important;
  z-index: -1;
  margin-bottom: 0!important;
  background-color: var(--color-lightpurple);
}
.about-fox strong {
  color: #000;
}
.about-fox-inner {
  max-width: 1000px!important;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-bottom: 20px;
}
.about-fox-logos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 13px;
}
.fox-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-purple { background-image: url("/wp-content/themes/astra-child/images/logo/logo-purple.svg"); }
.logo-pink { background-image: url("/wp-content/themes/astra-child/images/logo/logo-pink.svg"); }
.logo-white { background-image: url("/wp-content/themes/astra-child/images/logo/logo-white.svg"); }

@media (max-width: 1024px) {
.about-fox-logos {
    justify-content: flex-start;
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .about-fox-inner {
    display: unset;
  }
  .about-fox-logos {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
  }
}

#core-values {
  border-top: 1px solid white;
  margin: 20px auto;
  padding: 40px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  font-size: 0.9em;
}
#core-values h3 {
  text-transform: uppercase;
  font-size: 0.8em;
}

.values {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin: 0 0 2px 0;
}

.authenticity { background-image: url("/wp-content/themes/astra-child/images/values/authenticity.png"); }
.compassion { background-image: url("/wp-content/themes/astra-child/images/values/compassion.png"); }
.creativity { background-image: url("/wp-content/themes/astra-child/images/values/creativity.png"); }
.balance { background-image: url("/wp-content/themes/astra-child/images/values/balance.png"); }
.purpose { background-image: url("/wp-content/themes/astra-child/images/values/purpose.png"); }

@media (max-width: 600px) {
  #core-values {
      flex-wrap: wrap;
      justify-content: flex-start;
      row-gap: 0;
  }
}




/* ----------------------------------
projects page - page-id-22
-----------------------------------*/

.page-id-22 h1 {
  text-align: center;
}
.page-id-22 h2 {
  font-size: 0.9em;
  margin: 0!important;
  width: 100%;
  font-family: 'InclusiveSans-Med'!important;
  font-weight: normal!important;
}

.page-id-22 h2 a { 
  color: #000!important; 
}
.page-id-22 h2 a:hover { 
  color: var(--color-orange)!important; 
}

.project-categories a, .project-tags { 
  font-size: 0.6em;
  text-transform: uppercase;
}

.project-categories a {
  color: var(--color-purple);
  font-weight: bold;
}
.project-tags a {
  color: #545454; 
}
.project-tags a:hover, .project-categories a:hover {
  color: #000;
}

.projects-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  
}
.ast-row {
  margin: 0!important;
}
.project-image {
  overflow: hidden!important;
  max-height: 250px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/*turn these off once links are ready
.projects-grid a { 
  pointer-events: none;
  cursor: default; 
} */

.project-image a {
  display: inline-block;
  height: 100%;
}

.projects-grid a img, .project-item .wp-post-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 11px;
}

.project-item:hover img,
.project-item:hover .wp-post-image {
  transform: scale(1.03);
  opacity: 0.85;
}



@media (prefers-reduced-motion: no-preference) {
  .projects-grid a img, .project-item .wp-post-image {
      transition: transform .5s ease-out, opacity .5s;
  }
}

@media (max-width: 950px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}





.ast-related-post-title a {
  font-size: 0.7em!important;
}

.ast-related-post-title {
  line-height: 100%!important;
}

.ast-related-post-featured-section {
  overflow: hidden;
  background-color: #000;
}
.ast-related-post-featured-section img:hover {
  transform: scale(1.03);
  opacity: 0.7;
}


@media (prefers-reduced-motion: no-preference) {
  .ast-related-post-featured-section img:hover {
      transition: transform .5s ease-out, opacity .5s;
  }
}




/* ----------------------------------
contact page - page-id-23
-----------------------------------*/

.page-id-23 .entry-content {
  width: 70%;
  height: 80vh;
  margin: 20px auto 0!important;
}

.page-id-23 p {
text-wrap: balance;
}

.page-id-23 h1 {
  text-align: center;
}

.page-id-23 form {
  max-width: 500px;
  margin: 40px auto 0;
  text-align: center;
}

.page-id-23 input, textarea  {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  color: #000!important;
  font-family: InclusiveSans;
  font-size: 1rem!important;
  padding: 16px!important;
  max-width: 500px!important;
  width: 100%!important;
  margin: 0 auto 20px !important;
  box-sizing: border-box;
}

.page-id-23 input:focus, textarea:focus {
  border-bottom: 4px solid var(--color-yellow);
  outline: none!important;
}

.page-id-23 input::placeholder,
textarea::placeholder {
  color: #999;
  font-family: InclusiveSans;
  font-size: 14px;
}

.page-id-23 textarea {
  min-height: 150px;
}

.page-id-23 input[type="email"] {
  height: unset;
}

.page-id-23 input[type="submit"] {
  border: none;
  color: #fff!important;
  border-radius: 30px!important;
  width: fit-content!important;
  margin: 0 auto!important;
  padding: 12px 28px!important;
  cursor: pointer;
}
.page-id-23 input[type="submit"]:focus {
  outline: 2px solid #000!important;
  outline-offset: 2px;
  }